#section-about .section-container {
    padding-top: 130px;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--black-700);
    border-radius: 8px;
    border: 2px solid var(--black-600);
}

.about-container img {
    height: 450px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 20px;
    height: 100%;
    text-align: left;
}

.about-info h2 {
    font-size: 3.2rem;
    font-weight: 500;
}

.about-info h3 {
    color: var(--blue-300);
    font-size: 1.8rem;
    font-weight: 300;
}

.about-info p {
    font-size: 1.8rem;
    line-height: 160%;
    color: var(--gray-300);
}

.about-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 4px;
    border: 2px solid var(--black-600);
    background-color: var(--black-700);
}

.about-social a img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    background-color: var(--blue-300);
    border: solid 2px var(--blue-300);
}

.social-media-icons:hover {
    border-color: var(--blue-300);
}


@media (max-width: 1300px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}

