:root {
    --black-600: #101013;
    --black-700: #09090b;
    --black-800: #040405;

    --blue-300: #00a3ff;

    --gray-300: #d8d8d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black-800);
    color: white;
    font-family: "Archivo";
}

a {
    text-decoration: none;
}