section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-title {
  font-size: 4rem;
  font-weight: 600;
}


.section-container {
  display: grid;
  padding: 100px 40px;
  gap: 40px;
  max-width: 1240px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
